header {
  background: grey;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  position: relative;
     }

img {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
    }

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 70px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  line-height: 90%;
  position: absolute;
  top: 160px;
  left: 280px;
    }
h1::first-line {
  font-size: 46px;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 610px;
  line-height: 150%;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  margin: 40px 0px 20px 0px;
  font-size: 12px;
}

.bevezetes {
  font-size: 16px;
}

h2 {
  margin: 50px 0px 50px 0px;
}

h3 {
  margin: 0px;
}

h4 {
  font-family: 'Merriweather', serif;
  margin: 0px;
  font-size: 14px;
}

ul {
  font-size: 12px;
}
.line {
  width: 609px;
  height: 3px;
  background: black;
  margin: 30px 0px 50px 0px; 
}

.idezet {
  width: 700px;
  background: black;
  font-family: 'Abril Fatface', cursive;
  font-size: 46px;
  color: white;
  padding: 50px 0px 60px 50px;
  text-align: left;
  margin-left: -50px;
  margin-right: 10px;
  line-height: 150%;
  position: relative;
}
.idezet::before {
  content: '“';
  font-size: 130px;
  position: absolute;
  top: 20px;
  left: 0px;
  }